.profile {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.work {
  background-color: beige;
}

.sleep {
  background-color: black;
}

p {
  margin: 0px;
  padding: 0px;
}

.options {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.selectedOption {
  overflow: scroll;
  width: 50%;
}

.clignote {
  animation: clignote 1s linear infinite;
}

li {
  font-size: 48px;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

li:hover:before {
  content: '> ';
}

@keyframes clignote {
  50% { color: green;}
}
