.home {
  height: 100%;
  width: 100%;
  position: relative;
}

.work {
  background-color: beige;
}

.sleep {
  background-color: black;
}

.pic {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 0px;
  object-fit: cover;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pic-wave {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -126px;
  margin-top: -126px;
}

.first {
  animation: wave 5s infinite;
}

.second {
  animation: wave 5s 3s infinite;
}

.third {
  animation: wave 5s 5s infinite;
}


@keyframes wave {
  0% { transform: scale(1.0); opacity: 1;}
  100% { transform: scale(1.2); opacity: 0;}
}